DATABASE_URL="postgresql://usuario:senha@localhost:5432/bel_do_frango_atu"
PORT=3010
JWT_SECRET="gere-com-openssl-rand-base64-48"
FRONTEND_URL=http://127.0.0.1:5000
NODE_ENV=development
ENTREGADOR_NOME="Equipe de entrega"
ENTREGADOR_TELEFONE=""
TAXA_ENTREGA=7.9
